.m-t-2 {
    margin-top: 2rem;
}

.h1 {
    font-size: 4rem;
}

body, html {
    height: 100%;
    display: grid;
}

body {
    background-color: #6d4247;
    color: #e6dfd1;
}

#root {
    margin: auto;
    font-weight: bold;
}
